<h1 style="text-align: center">Movie Categories List</h1>
<% @lists.each do |list| %>
<ul style="list-style: none">
  <div class="category-card">
    <li>
      <%=link_to list.name, list_path(list.id) %>
    </li>
  </div>
</ul>
<%end%>
